* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', 'Helvetica Neue', arial, sans-serif;
}

.container {
  padding: 1.25em 1em;
}

.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 150%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  cursor: default;
}

.label-default {
  background-color: #777;
}

.label-success {
  background-color: #5cb85c;
}

.label-warning {
  background-color: #f0ad4e;
}
