doctype html
html(lang='ja')
  head
    title label-image
    link(rel='stylesheet', href='ress.min.css')
    link(rel='stylesheet', href='style.css')
  body
    div.container
      span.label#label(class=labelType) #{labelText}
